@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add an engineer</h2>

<h4>for this machine: <em>@Html.DisplayFor(model => model.MachineName)</em></h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select an engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" />
}
<hr>
<p>@Html.ActionLink("- Back to list -", "Index")</p>