@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a machine</h2>

<h3>for this engineer: <em>@Html.DisplayFor(model => model.EngineerName)</em></h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select a machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}
<hr>
<p>@Html.ActionLink("- Back to list of engineers -", "Index")</p>

<p>@Html.ActionLink("- Home -", "Index", "Home")</p>